.about-container {
    background-color: rgba(0, 0, 0, 0.734);
    width: 90%;
    margin: 50px auto;
    padding: 2vw;

    .brief,
    .interests {
        // background-color: #695a5acc;
        padding: 2vw;
        margin: 1vw 0;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;

        .data {
            p {
                color: antiquewhite;
                margin: 0;
                line-height: normal;
                font-size: 25px;
                font-weight: lighter;
                text-align: justify;
            }
        }

        img {
            width: 500px;
            padding: 5px;
            margin: 10px;
            border: 1px solid gold;
        }

        @media screen and (max-width:1200px) {
            img {
                width: 300px;
            }

            .data {
                p {
                    font-size: 20px;
                }
            }
        }
        @media screen and (max-width:1200px) {
            img {
                width: 250px;
            }
        }

        @media screen and (max-width:900px) {
            flex-wrap: wrap;
            justify-content: center;
        }

        @media screen and (max-width:600px) {

            .data {
                p {
                    font-size: 15px;
                }
            }
        }
    }
    @media screen and (max-width:600px) {
        margin-top: 70px;
        width: 100%;
    }
}